<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou inicil-->
    <header style="display: flex;">
        <!--SECTION FOTO-DE-PERFIL-->
        <section>
            <img src="perfil.jpg" alt="Foto de perfil" height="150px" width="150px">
        </section>
        <!--SECTION INFORMAÇÕES PESSOAIS-->
        <SEction>
            <br> <br> <br> <br>
           &nbsp;&nbsp;&nbsp;&nbsp;
            Ryam Henrique | 19 | @Ryam_Henrique | (81)40028922 | Gemêos
        </SEction>
    </header>
    <!--NAVEGAÇÃO DA MINHA PÁGINA-->
    <NAV>
        <!--Tag<a href=""> refere-se ao link de navegaçã<o-->
            <HR>
        </o-->
        <a href="MySite.html">Sobre mim</a>|
        <a href="Entreternimento.html">Entreternimento</a>|
        <a href="Músicas.html">Músicas</a>
        <a href=""></a>
    </NAV><HR>
    <!--ESTRUTURA DO SITE-->
    <MAIN>
        <H2>CONHEÇA UM POUCO DO MEU MUNDO</H2>
        <P>
            Praze, meu nome é Ryam e gosto de <br>

        </P>
        <ul>
            <li>
                criar animais
                <ul>
                    <li>5 galinha= princesa, solange, cremilda, maria, antonieta
                    </li>
                    <li>1 galo= amaro</li>
                    <li>10 pintinho </li>
                    <li>1 cachorro= Apolo</li>
                    <li>1 bode= Bernado</li>
                    <li>1 Gata=kiki</li>
                    <li>6 Patos= pato, pato2 ,pato3 ,pato4 ,pato5 ,pato6.</li>


                </ul>
            </li>
            <li>animes
                <ul>
                    <li>Naruto</li>
                    <li>one piece</li>
                    <li>violet evergarden</li>
                </ul>
                <li>comenta sobre a vida dos outro com meu amigos.</li>
                <li>ler historia ficticias 
                    criadas por adolecente de 15
                     anos que sofre de poblemas mentais.</li>
            </li>
            <li>Esculta Música.</li>
        </ul>
    </MAIN>

    <!--Rodapé-->
    <HR>
    <footer>
        By Ryam Henrique &copy;
    </footer>
</body>
</html>