<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
<body>
    <header style="display: flex;">
        
        <!--SECTION FOTO-DE-PERFIL-->
        <section>
            <img src="perfil.jpg" alt="Foto de perfil" height="150px" width="150px">
        </section>
        <!--SECTION INFORMAÇÕES PESSOAIS-->
        <SEction>
            <br> <br> <br> <br>
           &nbsp;&nbsp;&nbsp;&nbsp;
            Ryam Henrique | 19 | @Ryam_Henrique | (81)40028922 | Gemêos
        </SEction>
    </header>
    <hr>
    (<a href="MySite.html">Sobre mim</a>|
    <a href="Entreternimento.html">Entreternimento</a>|
    <a href="Músicas.html">Músicas</a>|
    <a href="Contato.html">fale comigo</Contato></a>)
     <hr>
     <h1>Fale comigo:</h1>
     <article>
        <label for="Nome">Nome:</label><br>
        <input type="text" name="Nome" id="Nome" size="30" placeholder="Seu Nome" >
        <br><br>
        <label for="email">E-mail:</label><br>
        <input type="email" name="email" id="email" size="30" placeholder="Exemplo@Exemplo.com" >
        <br><br>
        <label for="whatsapp">Whatsapp</label><br>
        <input type="text" name="whatsapp" id="whatsapp" size="30" placeholder="(dd)9####-####">
        <br><br>
        <label for="data">Data de Nacimento</label><br>
        <input type="date" name="data" id="data">
        <br><br>
        <label for="deixe sua mensagem">Comente aqui:</label><br>
        <textarea name="Deixe sua mensagem" id="deixe sua mensagem" cols="30" rows="6" placeholder="Hable Muito"></textarea>
        <br><br>
        <input type="submit" value="Bora bill!!">
     </article>

    <HR>
        <footer>
            By Ryam Henrique &copy;
        </footer>
</body>
</html>