<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreternimento</title>
</head>
<body>
    <!--Cabeçalho ou inicil-->
    <header style="display: flex;">
        <!--SECTION FOTO-DE-PERFIL-->
        <section>
            <img src="perfil.jpg"Foto de perfil height="150px" width="150px">
        </section>
        <!--SECTION INFORMAÇÕES PESSOAIS-->
        <SEction>
            <br> <br> <br> <br>
           &nbsp;&nbsp;&nbsp;&nbsp;
            Ryam Henrique | 19 | @Ryam_Henrique | (81)40028922 | Gemêos
        </SEction>
    </header>
    <!--NAVEGAÇÃO DA MINHA PÁGINA-->
    <NAV>
        <!--Tag<a href=""> refere-se ao link de navegaçã<o-->
            <HR>
        </o-->
        (<a href="MySite.html">Sobre mim</a>|
        <a href="Entreternimento.html">Entreternimento</a>|
        <a href="Músicas.html">Músicas</a>|
        <a href="Contato.html">fale comigo</Contato></a>)
    </NAV><HR>

        <!--Seção de entreternimento-->
        <article>
            <h3>VEMELHOR BRANCO E SANGUE AZUL</h3>
            <H4>GOSTO: 8/10</H4>
            <P>
                <img src="download.jfif" alt="vermelhor branco e sangue azul">
            </P>
            <p>
                É UM LIVRO SOBRE O FILHO DA PRESIDENTA DOS EUA
                E O PRINCIPE DA INGLATERRA SE APAIXONAM 
                E COMEÇA A FAZ TRAVESURAS GOSTOSAS EM TODO CANTO AS ESCODIDAS.
            </p>
            <P>
                para conhecer mais <a href="https://pt.wikipedia.org/wiki/Vermelho,_Branco_e_Sangue_Azul">clique aqui</a>
            </P><hr>
        </article>
        <article>
            <h3>VIOLET EVERGARDEN</h3>
            <H4>GOSTO: 10/10</H4>
            <P>
                <img src="download (1).jfif" alt="violet evengarden">
            </P>
            <p>
                Uma menina orfan que apos o fim da guerra
                 estuda para se torna uma autonoma de auto memorias
                 ,em busta de entende o que significa "eu te amor"
            </p>
            <p>
                para conheçe mais <a href="https://pt.wikipedia.org/wiki/Violet_Evergarden">clique aqui</a>
            </p><hr>
        </article>
        <ARTicle>
            <H3>MIRACULOS</H3>
            <h4>GOSTO: 7/10</h4>
            <P>
                <img src="images.jfif" alt="MIRACULOS">
            </P>
            <P>
                E UM BELA OBRA ONDE DOIS SUPER LERDOS QUE SÃO APAIXONADOS PELOS SEU AUTEREGOS MAIS SEM SABER QUE UM E O OUTRO,ALEM DE TEREM QUE LUTA CONTRA UM VILÃO QUE E CAPAZ DE CONTROLA AS PESSOAS ALEM DE DAR OS TRANSFORMALOS EM VILÕES.
            </P>
            <P>
                PARA CONHEÇE MAIS <a href="https://pt.wikipedia.org/wiki/Miraculous:_Les_aventures_de_Ladybug_et_Chat_Noir">clique aqui</a>
            </P><hr>
        </ARTicle>
        <article>
            <h3>UM CONTO SOMBRINHO DOS GRIMM</h3>
            <H4>GOSTO 8,5/10</H4>
            <P>
                <img src="download (2).jfif" alt="foto">
            </P>
            <p>
                uma vesão mais sombri do conto de fadas João e Maria.
            </p>
            <p>
                para conheçe mais <a href="https://www.google.com/search?q=contos+sobrinho+dos+grimms+livro&source=lmns&bih=650&biw=683&rlz=1C1KNTJ_pt-BRBR1071BR1071&hl=pt-BR&sa=X&ved=2ahUKEwjf-7n4-PCAAxXEjZUCHdxeCbEQ0pQJKAB6BAgBEAI">clique aqui</a>
            </p><hr>
        </article>

        <!--Rodapé-->

        <footer>
            By Ryam Henrique &copy;
        </footer>     
</body>
</html>